<ion-header>
  <ion-toolbar mode="ios" class="toolbar">
    <ion-buttons>
      <ion-back-button class="toolbar__button" mode="md" slot="start" defaultHref="/bakery-search"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar__title ion-text-left">Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <h2 class="title">Account Details</h2>
  <ion-list class="list">
    <ion-item class="list__item item" mode="ios" button>
      <ion-label class="item__label item__label_left">Name</ion-label>
      <ion-label class="item__label item__label_purple ion-text-right">Jenny</ion-label>
    </ion-item>
    <ion-item class="list__item item" mode="ios" button>
      <ion-label class="item__label item__label_left">Email-Address</ion-label>
      <ion-label class="item__label item__label_purple ion-text-right">Jenny@gmail.com</ion-label>
    </ion-item>
    <ion-item class="list__item item" mode="ios" button>
      <ion-label class="item__label item__label_left">Phone Number</ion-label>
      <ion-label class="item__label item__label_purple ion-text-right"></ion-label>
    </ion-item>
    <ion-item class="list__item item" mode="ios" button>
      <ion-label class="item__label item__label_left">Country</ion-label>
      <ion-label class="item__label item__label_purple ion-text-right">Germany</ion-label>
    </ion-item>
    <ion-item class="list__item item" mode="ios" button>
      <ion-label class="item__label item__label_left">Language</ion-label>
      <ion-label class="item__label item__label_purple ion-text-right">English</ion-label>
    </ion-item>
  </ion-list>
  <h2 class="title">Settings</h2>
  <ion-list class="list">
    <ion-item class="list__item item" mode="ios" button>
      <ion-label class="item__label item__label_left">Notifications</ion-label>
    </ion-item>
    <ion-item class="list__item item" mode="ios" button>
      <ion-label class="item__label item__label_left">Change Password</ion-label>
    </ion-item>
    <ion-item class="list__item item" mode="ios" button>
      <ion-label class="item__label item__label_left">Manage Payment Method</ion-label>
    </ion-item>
    <ion-item class="list__item item" mode="ios" button>
      <ion-label class="item__label item__label_left">Privacy & Imprint</ion-label>
    </ion-item>
  </ion-list>
  <div class="logout" tappable>
    <p class="logout__text">Logout</p>
  </div>
</ion-content>
