<ion-header>
<!--  <ion-toolbar>-->
<!--  </ion-toolbar>-->
</ion-header>

<ion-content>
  <ion-img src="../../../assets/img/bread.png" class="img"></ion-img>
  <form class="form">
    <div class="form-top">
      <h1 class="form__title">Welcome!</h1>
      <h1 class="form__title">Looks like you are in</h1>
      <ion-item class="form__item form__item_select item">
        <ion-select class="item__select" placeholder="Germany">
          <ion-select-option>Germany</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
      <ion-item class="form__item form__item_check item ion-align-items-start" lines="none">
        <ion-checkbox class="item__checkbox"></ion-checkbox>
        <ion-label class="item__label ion-text-wrap">I allow Brötchen.app my email address and my names obtained from Google
          according to our data protection to save provisions</ion-label>
      </ion-item>
    <ion-item class="form__item item ion-align-items-start" lines="none">
      <ion-checkbox class="item__checkbox"></ion-checkbox>
      <ion-label class="item__label ion-text-wrap">I confirm the terms of use and the Privacy Policy</ion-label>
    </ion-item>
    <ion-button class="form__button" expand="block" size="large" [routerLink]="'/location-setting'">continue with google</ion-button>
  </form>
</ion-content>
