<div class="container">
  <ion-button class="ion-float-right close-btn" size="small" fill="none" (click)="closeModal()">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>
  <div class="product">
    <div class="product__header">
      <img class="product__img" src="../../../assets/img/bakery/roll2.jpg">
      <ion-label class="product__label ">Pumpkin roll</ion-label>
    </div>
    <div class="product__details details">
      <h2 class="details__title">Details</h2>
      <h3 class="details__subtitle">{{ 'allergens.allergens' | translate }}</h3>
      <div class="details__list list">
        <p class="list__item">gluten</p>
        <p class="list__item">nuts</p>
      </div>
      <h3 class="details__subtitle">{{ 'allergens.ingredients' | translate }}</h3>
      <p class="details__text">Wheat flour, water, wheat sourdough Wheat pre-batter, iodized table salt Yeast, various
        malt flours Wheat semolina, milk-protein.</p>
    </div>
  </div>
</div>
