<ion-header>
  <div class="top"></div>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <input #search class="input" [placeholder]="'locationSet.searchLocation' | translate "
           autocorrect="off" autocapitalize="off" spellcheck="false" type="text">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="my-location block">
    <div>
      <p class="my-location__text">{{ 'locationOpt.myLocation' | translate }}</p>
      <p class="my-location__text">{{myAddress}}</p>
    </div>
  <!--  <ion-button class="my-location__btn btn" size="small" fill="none">
      <ion-icon slot="icon-only" class="btn__icon" src="../../../../assets/icons/check.svg"></ion-icon>
    </ion-button>-->
  </div>
  <div class="recently block">
    <p class="recently__label">{{ 'locationOpt.recently' | translate }}</p>
    <ion-item class="row" mode="md" *ngFor="let location of locationArr" (click)="setMyLocation(location)" button lines="none">
      <ion-icon class="recently__icon" src="../../../../assets/icons/clock.svg"></ion-icon>
      <ion-label>{{location.address}}</ion-label>
    </ion-item>
  </div>

  <ion-button class="btn" expand="block" (click)="go()">Go!</ion-button>

</ion-content>
