<ion-header>
  <div class="top"></div>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <input #search class="input" [placeholder]="'locationSet.searchLocation' | translate "
           autocorrect="off" autocapitalize="off" spellcheck="false" type="text">
<!--    <ion-searchbar mode="ios" class="toolbar__search" searchIcon="none" [placeholder]="'locationOpt.searchCity' | translate"></ion-searchbar>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="my-location block">
    <div>
      <p class="my-location__text">{{ 'locationOpt.myLocation' | translate }}</p>
      <p class="my-location__text">Nernstweg 1, 33334 Gütersloh</p>
    </div>
    <ion-button class="my-location__btn btn" size="small" fill="none">
      <ion-icon slot="icon-only" class="btn__icon" src="../../../../assets/icons/check.svg"></ion-icon>
    </ion-button>
  </div>
  <div class="recently block">
    <p class="recently__label">{{ 'locationOpt.recently' | translate }}</p>
    <div class="row">
      <ion-icon class="recently__icon" src="../../../../assets/icons/clock.svg"></ion-icon>
      <ion-label>Deciusstrasse 36, 3602 Bielefeld</ion-label>
    </div>
  </div>

</ion-content>
