.content {
  display: flex;
  flex-direction: column;
}

.header {

  &__title {
    width: 290px;
    margin: 0 auto;
    padding: 3vh 0;

    text-align: center;
    font: normal normal 600 20px/24px Montserrat;
    color: #493735;
  }
}

.btn-wrapper {
  margin: 4vh auto;

  &__btn {
    height: 50px;
    --border-radius: 20px;
    --background: #FEDE00;
    font: 20px/24px Montserrat;
    --color: #493735;
    @media (max-height: 811px) {
      height: 50px;
    }
  }

}

.item {
  --min-height: 50px;
  //--border-color: #707070;
  //--border-width: 1px;
  --border-radius: 20px;
  margin: 0 0 1.85vh;
  font: 16px/19px Montserrat;
  @media (max-height: 811px) {
    --min-height: 50px;
  }
  &__input {
    width: 100%;
    background: #F0F1F3;
    border: none;
    outline: none;
  }
  &:nth-of-type(2) {
    --background: #F0F1F3;
    font-weight: 300;
  }

  &__icon {
    font-size: 25px;
    color: #5C5B5B;
  }
}

.selected {
  --background: #dfdcdc;
}

.map {
  width: 100%;
  height: 48vh;
  align-self: flex-end;
}
