<app-menu-header [title]="'Maps'"></app-menu-header>
<ion-content>
  <div class="content">
    <div class="header">
      <h1 class="header__title">{{ 'locationSet.title' | translate }}</h1>
    </div>
    <ng-container *ngIf="showMap">
      <agm-map class="map" [latitude]="lat" [longitude]="lng" [zoom]="12">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-marker *ngFor="let bakery of branchesNear$ | async"
                    [latitude]="+bakery.lat" [longitude]="+bakery.lng"
                    [iconUrl]="'../../../../assets/icons/bakery/circle-green.png'"></agm-marker>
      </agm-map>
    </ng-container>
    <div class="btn-wrapper">
      <ion-item class="item" lines="none" (click)="onUseCurrLocation()" detail="false" button>
        <ion-icon slot="start" class="item__icon" src="../../../assets/icons/map-location-arrow.svg"></ion-icon>
        <ion-label>{{ 'locationSet.useCurrLocation' | translate}}</ion-label>
      </ion-item>
      <ion-item class="item" lines="none">
        <input #search class="item__input" [placeholder]="'locationSet.searchLocation' | translate "
                   autocorrect="off" autocapitalize="off" spellcheck="false" type="text">
        <ion-icon slot="start" class="item__icon" src="../../../assets/icons/search.svg"></ion-icon>
      </ion-item>
      <ion-button class="btn-wrapper__btn btn" size="block" mode="ios"
                  [routerLink]="'/bakery-search'"
                  [disabled]="!useCurrLocation  && !locationSearched">
        {{ locationSearched ? ('locationSet.useThisLocation' | translate) : 'GO!' }}</ion-button>
    </div>
  </div>
</ion-content>
