<ion-content>
  <div class="header">
    <h1 class="header__title">Select your location to find your bakery</h1>
  </div>
  <div class="btn-wrapper">
    <ion-button class="btn-wrapper__btn btn" fill="outline" expand="block">Use current location
      <ion-icon slot="start" class="btn__icon" src="../../../assets/icons/map-location-arrow.svg"></ion-icon>
    </ion-button>
    <ion-button class="btn-wrapper__btn btn" size="block" fill="outline">Search for a location
      <ion-icon slot="start" class="btn__icon" src="../../../assets/icons/search.svg"></ion-icon>
    </ion-button>
    <ion-button class="btn-wrapper__btn btn" size="block">apply</ion-button>
  </div>
  <ion-img class="img" src="../../../assets/img/map.jpg"></ion-img>
</ion-content>
