<div class="product">
  <div class="col-left" (click)="presentProductDetailsModal()">
    <ion-img *ngIf="saleServ.checkSale(date, product)" class="discount-img" src="../../../../assets/icons/discount.png"></ion-img>
    <ion-img class="product__img" [src]="product?.photo"></ion-img>
    <ion-img class="product__img-corner product__img-corner_bio" *ngIf="product.bio_certification"
             src="../../../../assets/img/bakery/bio.png"></ion-img>
    <ion-img class="product__img-corner product__img-corner_new" *ngIf="product.is_new"
             src="../../../../assets/img/bakery/new.png"></ion-img>

<!-- If product has limited counter in response then add this field into ngIf -->
    <!--    <div *ngIf="" class="quantity">{{counter}} items left to order</div>-->

  </div>
  <div class="col-center">
    <div class="row">
      <div>
        <p class="product__name">{{product.name}}</p>
        <ion-button class="details" (click)="presentProductDetailsModal()" size="small" fill="clear">Details</ion-button>
        <p ></p>
      </div>
      <div>
        <p class="product__price" [class.product__price_crossed-out]="saleServ.checkSale(date, product)">
          {{product.price | currency:'EUR':'symbol'}}</p>
        <p class="product__special-price" *ngIf="saleServ.checkSale(date, product)">
          {{product.special_price | currency:'EUR':'symbol'}}</p>
      </div>
    </div>
    <div class="product__count count">
      <ion-button class="count__btn" size="small" (click)="removeProductFromCart()">-</ion-button>
      <div class="count__value">{{getProductCount(product.id)}}</div>
      <ion-button class="count__btn" size="small" (click)="addProductToCart()">+</ion-button>
    </div>
  </div>
</div>
