$darkBrown: #493735;

.product {
  width: 90vw;
  height: 95px;
  margin: 0 0 1.23vh;
  display: flex;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  font: normal normal 400 12px/15px Montserrat;
  color: $darkBrown;

  .col-left {
    position: relative;
    .quantity {
      position: absolute;
      bottom: 1vh;
      left: 1vh;
      padding: .5vh;
      background-color: yellow;
      border-radius: 0.5vh;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4vh;
    }
  }

  .col-center {
    width: 100%;
    padding: 4px 20px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .row {
      display: flex;
      justify-content: space-between;
    }
  }

  &__name {
    font: normal normal 500 14px/18px Montserrat;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__img {
    width: 26.67vw;
    height: 100%;
    object-fit: cover;
    &::part(image) {
      border-radius: 4px 0 0 4px;
    }
  }

  &__img-corner {
    position: absolute;

    &_bio {
      top: 0;
      left: 0;
    }

    &_new {
      left: 5px;
      bottom: 10px;
    }
  }


  .details {
    margin: 0;
    --padding-start: 0;
    font: italic normal 300 12px/15px Montserrat;
    text-transform: capitalize;
    color: $darkBrown;
  }

  &__price {
    padding: 2px 0 0;
    text-align: right;
    &_crossed-out {
      text-decoration: line-through;
    }
  }
  &__special-price {
    color: #F44336;
  }

  .count {
    align-self: flex-end;
    display: flex;
    text-align: center;

    &__btn {
      width: 47px;
      height: 30px;
      font: normal normal 300 25px/30px Montserrat;
      color: inherit;
      --background: #F9F9F9;
      --border-radius: 5px;
    }

    &__value {
      width: 40px;
      align-self: center;
    }
  }
}
