.container {
  width: 306px;
  margin: 0 auto;
  padding: 6.16vh 0;
}

.bakery-favorites {
  margin: 0 0 20px;
}

.bakery {
  display: flex;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  color: #493735;
  .col{
    &:nth-of-type(2) {
      width: 140px;
      padding-right: 5px;
    }
    &:last-child {
      align-self: flex-end;
    }
  }
  &__img {
    width: 125px;
    height: 76px;
    object-fit: cover;
    margin-right: 10px;
  }
  &__stars {
    margin: 5px 0;
    width: 81px;
  }
  &__title {
    padding: 10px 0 0;
    font: normal normal 600 12px/15px Montserrat;
  }
  &__text {
    font: normal normal 400 8px/10px Montserrat;
  }

  &__icons-row {
    height: 20px;
    margin: 21px 8px 10px;
    font-size: 19px;
  }
  .icon-like {
    font-size: 25px;
    padding: 0 5px 5px 0;
  }
}
