ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;

  ion-label {
    margin-bottom: 8px;
  }
}

ion-textarea {
  --padding-start: 0;
  --padding-end: 0;
}

.ion-padding {
  padding-top: 16px;
}
