.toolbar {
  padding: 1vh 0;
  --background: #FEDE00;
  &__button {
    --icon-font-size: 25px;
  }
  &__title {
    padding: 0 0 0 3vw;
    font: normal normal 500 6.67vw/3.69vh Montserrat;
    text-transform: capitalize;
    color: #493735;
  }
}
