.close-btn {
  --background: #F9F9F9;
  position: absolute;
  top: 1.72vh;
  right: 5.87vw;
  &__icon {
    display: block;
    font-size: 10vw;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 7.73vw 1.72vh;
  background: #F9F9F9;
  color: #493735;
}

.title {
  padding-bottom: 14px;
  font: normal normal 500 5.33vw/7vh Montserrat;
}

.payments {
  &__item {
    display: flex;
    align-items: center;
  }

  .item {
    &__icon {
      font-size: 17.33vw;
    }
    &__label {}
  }

}

/*.payments {
  height: 12vh;
  display: flex;
  align-items: center;
  &__img-container {
    width: 85px;
    margin-right: 13vw;
    text-align: center;
    vertical-align: center;

  }
  &__img {
    &_sepa {
      width: 70px;
    }
  }
  &__name {
    font: normal normal 500 20px/24px Montserrat;
  }
}*/

.link-wrapper {
  margin-top: 1vh;
  display: flex;
  justify-content: center;

  .link {
    color: #0E8DF1;
    text-decoration: underline;
  }
}
