<div class="container">
  <ion-button class="close-btn" (click)="closeModal()" size="small" fill="none">
    <ion-icon class="close-btn__icon" slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>
  <div class="title">{{ 'menu.paymentMethods' | translate }}</div>
  <div class="payment" tappable (click)="onGooglePay()">
    <div class="payment__img-container">
      <img class="payment__img" src="assets/img/payments/g-pay.png">
    </div>
    <p class="payment__name">Google Pay</p>
  </div>
  <div class="payment" tappable>
    <div class="payment__img-container">
      <img class="payment__img" src="../assets/img/payments/klarna_sofort.jpg">
    </div>
    <p class="payment__name">Klarna sofort</p>
  </div>
  <div class="payment" tappable>
    <div class="payment__img-container">
      <img class="payment__img" src="assets/icons/payments/credit-card.svg">
    </div>
    <p class="payment__name">Kreditkarte</p>
  </div>
  <div class="payment" tappable>
    <div class="payment__img-container">
      <img class="payment__img payment__img_sepa" src="assets/icons/payments/sepa.png">
    </div>
    <p class="payment__name">Lastschrift</p>
  </div>
  <div class="link-wrapper">
    <a class="link" (click)="onOtherOption()">Other options</a>
  </div>
</div>
