.container {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  border: 1px solid #707070;
  color: #493735;
}

.close-btn {
  position: absolute;
  top: 0;
  left: 0;
  &__icon {
    font-size: 30px;
  }
}

.title {
  padding-bottom: 14px;
  text-align: center;
  font: normal normal 500 25px/30px Montserrat;
}

.payment {
  height: 12vh;
  display: flex;
  align-items: center;
  &__img-container {
    width: 85px;
    margin-right: 13vw;
    text-align: center;
    vertical-align: center;

  }
  &__img {
    &_sepa {
      width: 70px;
    }
  }
  &__name {
    font: normal normal 500 20px/24px Montserrat;
  }
}

.link-wrapper {
  margin-top: 1vh;
  display: flex;
  justify-content: center;

  .link {
    color: #0E8DF1;
    text-decoration: underline;
  }
}
