<ion-header></ion-header>
<ion-content>
  <div class="top"></div>
  <ion-icon  class="arrow" name="arrow-back-sharp" (click)="returnToStartPage()"></ion-icon>
  <div class="login">
    <form class="form" [formGroup]="updatePassword" >
      <ion-item class="form__item" mode="ios">
        <ion-label class="item__label" position="stacked">{{ 'emailRegister.email' | translate }}</ion-label>
        <ion-input name="email"  inputmode="email" formControlName="emailVal"></ion-input>
      </ion-item>
      <ion-item class="form__item" mode="ios">
        <ion-label class="item__label" position="stacked">{{ 'emailRegister.password' | translate }}</ion-label>
        <ion-input type="password" name="password" formControlName="passwordVal"></ion-input>
      </ion-item>
      <ion-item class="form__item" mode="ios">
        <ion-label class="item__label" position="stacked">{{ 'emailRegister.confirmPassword' | translate }}</ion-label>
        <ion-input type="password" name="confirmPassword" formControlName="confirmPasswordVal"></ion-input>
      </ion-item>
      <div class="button-wrapper">
        <ion-button class="button-wrapper__btn" (click)="sendNewPassword()" [disabled]="updatePassword.invalid">
          {{ 'emailRegister.changePassword' | translate }}</ion-button>
      </div>
    </form>
  </div>
</ion-content>

