$redLineHeight: 5px;

.container {
  padding: 0 9.33vw;
  color: #493735;
}

.segment {
  height: 5.91vh;
  margin: 3.69vh 0 0;
  --background: #fff;
  &__btn {
    --indicator-box-shadow: none;
    --border-radius: 0;
    --background-checked: #FEDE00;
    border: 1px solid #FEDE00;
    --indicator-color: #FEDE00;
    font: normal normal 400 20px/24px Montserrat;
  }
}

.title {
  margin: 3.69vh 1vw 0;
  text-align: center;
  font: normal normal 700 20px/24px Montserrat;
  color: #493735;
}

.save {
  margin: 3vh 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__txt {
    font: normal normal 500 12px/15px Montserrat;
  }
  &__toggle {
    &.toggle-checked {
      --handle-background-checked: #fff;
      --background-checked: #34DB34;
    }
  }
}

ion-toggle.toggle-checked {
  --handle-box-shadow: 0 0 2px 0 #33F333;
}

.full-order {
  position: relative;
  padding: 4vh 0 3vh;
  &:last-child:after {
    display: none;
  }
  &:after {
    bottom: 0;
    left: 0;
    border-bottom: 5px solid #FEDE00;
    position: absolute;
    content: "";
    width: 100%;
  }
}

.order {
  padding: 1.6vh 4.8vw 0;
  margin: 0 5.87vw 3.57vh;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  &__bakery {
    font: normal normal 600 25px/30px Montserrat;
    color: #493735;
  }
  &__time-title {
    font: normal normal bold 15px/30px Montserrat;
    color: #493735;
  }
  &__time {
    padding: 0 0 1.5vh;
    font: normal normal bold 25px/30px Montserrat;
    color: #493735;
    &_purple {
      color: #FF68B4;
    }
  }
  &__grid {
    padding: 0;
    font: normal normal normal 15px/19px Montserrat;
    color: #493735;
  }
  .grid {
    &__row {
      padding: 1.6vh 0;
      &_total {
        border-top: 1px solid #c3bebe;
      }
    }
    &__col {
      &:last-child {
        text-align: right;
      }
    }
  }
}

.pick-up {
  &__text {
    font: normal normal 400 15px/19px Montserrat;
    color: #493735;
    &:last-child {
      padding: 0 0 1.6vh;
    }
  }
  &__title {
    margin: 1.85vh 8.6vw 2.46vh;
    font: normal normal 400 20px/24px Montserrat;
    color: #493735;
  }
  &__code {
    width: 100%;
    padding: 1.6vh 0;
    background: #FEDE00;
    border-radius: 5px;
    font: normal normal 400 50px/61px Montserrat;
    text-align: center;
    color: #493735;
    &_completed {
      background: #F0F0F0;
      position: relative;
      &:before {
        top: calc(50% - #{$redLineHeight} / 2);
        left: 25%;
        border-bottom: $redLineHeight solid red;
        position: absolute;
        content: "";
        width: 50%;
      }
    }
  }
}

.repeat-btn {
  height: 7.39vh;
  margin: 2.46vh 0 3vh;
  border-radius: 5px;
  --background: #3CCA88;
  padding: 0 3vw;
  text-transform: capitalize;
  font: normal normal 400 20px/24px Montserrat;
  color: #FFFFFF;
}
