<app-menu-header *ngIf="!orderId" [title]="'orders.header' | translate"></app-menu-header>
<app-menu-header *ngIf="orderId" [title]="'orders.confirmation' | translate"></app-menu-header>

<ion-content>
  <div class="container">
    <ion-segment *ngIf="!orderId" mode="ios" class="segment"
                 (ionChange)="segmentChanged($event.target.value)" [value]="segmentValue">
      <ion-segment-button  class="segment__btn" value="current">
        <ion-label>{{ 'orders.current' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button class="segment__btn" value="completed">
        <ion-label>{{ 'orders.completed' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="orderId">
      <h2 class="title">{{ 'orders.thankForOrder' | translate }}</h2>
<!--      <div class="save">-->
<!--        <p class="save__txt">{{ 'orders.save' | translate }}</p>-->
<!--        <ion-toggle class="save__toggle" (ionChange)="onSaveChange()"></ion-toggle>-->
<!--      </div>-->
    </ng-container>
  </div>
  <div class="full-order" *ngFor="let order of ordersToShow">
    <div class="order">
      <p class="order__bakery">{{ 'general.bakery' | translate }} {{order.bakery_name}}</p>
      <p class="order__time-title">{{ 'orders.pickUpTime' | translate }}</p>
      <p class="order__time">
<!--         [class.order__time_purple]="orderId"-->
        {{getDate(order.pickup_time) | date:'EEEE, d.M.yyyy,  H:mm': '': dateLocale}} hrs</p>
      <ion-grid class="order__grid grid">
        <ion-row class="grid__row" *ngFor="let product of order.products, let i=index">
          <ion-col class="grid__col" size="1">{{ i + 1 }}</ion-col>
          <ion-col class="grid__col" size="8">{{product.quantity}} x {{product.product_name}}
            <span *ngIf="!orderId">a {{product.price | currency:'EUR':'symbol'}}</span></ion-col>
          <ion-col class="grid__col">
            {{product.grand_total | currency:'EUR':'symbol'}}</ion-col>
        </ion-row>
        <ion-row class="grid__row grid__row_total" *ngIf="segmentValue === 'current'">
          <ion-col class="grid__col" size="3">{{ 'orders.total' | translate }}</ion-col>
          <ion-col class="grid__col" size="6"></ion-col>
          <ion-col class="grid__col">{{order.grand_total | currency:'EUR':'symbol'}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="container">
      <div class="pick-up">
        <p class="pick-up__text">{{ 'orders.pickUpAt' | translate }}</p>
        <p class="pick-up__text">{{ 'general.bakery' | translate }} {{order.bakery_name}} - {{order.branch_name}}</p>
        <h3 class="pick-up__title">{{ 'orders.pickUpCode' | translate }}</h3>
        <div class="pick-up__code" [class.pick-up__code_completed]="segmentValue === 'completed'">
          {{order.collection_code}}</div>
        <h3 class="pick-up__title">{{ 'orders.showThisCode' | translate }}</h3>
        <p class="pick-up__text" *ngIf="segmentValue === 'current'">{{ 'orders.note' | translate }}</p>
<!--        <ion-button class="repeat-btn" *ngIf="segmentValue === 'completed'" expand="block">-->
<!--          Repeat Order-->
<!--        </ion-button>-->
      </div>
    </div>
  </div>
</ion-content>
