@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-thinitalic-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-thinitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-extralightitalic-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-extralightitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-lightitalic-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
