<app-menu-header [title]="'menu.inbox' | translate "></app-menu-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="mail" *ngFor="let item of inboxMessagesArr">
    <div class="left">
      <ion-img class="mail__avatar" src="../../../assets/icons/menu/avatar-girl.png"></ion-img>
    </div>
    <div class="mail__text-block">
      <p class="mail__date">{{item.updated_at | date:'d. LLL'}}</p>
      <p class="mail__title">{{item.title}}</p>
      <p class="mail__text">{{item.text}}</p>
    </div>
  </div>
</ion-content>
