.spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  padding: 1vh 0;
  --background: #F2F2F2;

  &__button {
    --icon-font-size: 35px;
  }

  &__title {
    padding: 0 0 0 3vw;
    font: normal normal 500 25px/30px Montserrat;
    text-transform: capitalize;
    color: #493735;
  }
}

.shopping-cart {
  font: normal normal 400 15px/19px Montserrat;
  color: #493735;
}

.date {
  padding: 1.11vh 4.5vw 3.56vh 6.67vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__title {
    font: normal normal 400 20px/24px Montserrat;

    &_purple {
      //color: #FF68B4;
    }
  }

  &__btn-icon {
    font-size: 14px;
  }
}

.product-list {
  padding: 0 9.5vw 0;

  .grid {
    padding: 0;

    .item {
      padding-bottom: 1.45vh;
    }

    &__row {
      padding: 1vh 0;
      &_total {
        border-top: 1px solid #c3bebe;
      }
    }

    .controls {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      &__remove-icon {
        font-size: 21px;
      }
      &__btn {
        width:30px;
        height: 21px;
        margin-left: 10px;
        border: 1px solid #707070;
        text-align: center;
        &:nth-of-type(1) {
          margin: 0;
        }
      }
    }

    &__col {
      padding: 0;
      .product-count {
        width: 5px;
      }
      .notification {
        color: red;
        font-size: 12px;
        font-style: italic;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.buttons-wrapper {
  padding: 9.85vh 5.3vw;
  text-align: center;
  &__btn {
    height: 10vh;
    margin: 0 0 2.22vh;
    --border-radius: 12px;
    font: normal normal 600 18px/22px Montserrat;
    text-transform: capitalize;
    &:first-child {
      --background: #CBCBCB;
    }
    &:last-child {
      --background: #0E8DF1;
    }
  }
  .btn {
    &__label {
      text-transform: none;
      padding: 5px 0 0;
      font: normal normal 400 12px/15px Montserrat;
    }
  }
  &__link {
    padding: 2vh 0 0;
    display: inline-block;
    text-decoration: underline;
  }
}
