<ion-header>
  <div *ngIf="reorder === false; else reorder">
    <ion-toolbar mode="ios" class="toolbar">
      <ion-buttons slot="start" >
        <ion-back-button  class="toolbar__button"
                          [icon]="'close-outline'" mode="md" defaultHref="/bakery-search/bakery"></ion-back-button>
      </ion-buttons>

      <h1 class="toolbar__title ion-text-left">{{ 'shoppingCart.header' | translate }}</h1>
    </ion-toolbar>
  </div>
  <ng-template #reorder>
    <ion-toolbar mode="ios" class="toolbar">
      <ion-buttons slot="start" >
        <ion-back-button  class="toolbar__button"
                          [icon]="'close-outline'" mode="md"  (click)="redirectToMain()"></ion-back-button>
      </ion-buttons>
      <h1 class="toolbar__title ion-text-left">{{ 'shoppingCart.header' | translate }}</h1>
    </ion-toolbar>
  </ng-template>

</ion-header>

<ion-content>
  <div class="shopping-cart">
    <div class="date">
      <h2 class="date__title">{{ 'shoppingCart.pickUp' | translate }}:
        <span class="date__title_purple">
          {{ date | date:'EEEE, d.M.yyyy,  H:mm': '' : dateLocale}}
          {{ 'orders.hrs' | translate }}</span></h2>
      <ion-button fill="none" size="small" (click)="presentVerifyDateModal()">
        <ion-icon class="date__btn-icon" src="../../../../../assets/icons/shopping-cart/pen.svg"></ion-icon>
      </ion-button>
    </div>
    <div class="product-list">
      <ion-grid class="grid">
        <div class="item" *ngFor="let product of cartService.getCart(), let i = index">
          <ion-row class="grid__row">
            <ion-col class="grid__col" size="1">{{i + 1}}</ion-col>
            <ion-col class="grid__col" size="8">
              <p><span class="product-count">{{product.count}}</span> x {{product.name}} </p>
              <p class="notification" *ngIf="!product.isAvailable">Product not available</p>
            </ion-col>
            <ion-col class="grid__col">{{product.price | currency:'EUR':'symbol'}}</ion-col>
          </ion-row>
          <ion-row class="grid__row controls">
            <ion-button fill="none" size="small" (click)="delete(i)">
              <ion-icon class="controls__remove-icon"
                        src="../../../../../assets/icons/shopping-cart/trash.svg"></ion-icon>
            </ion-button>
            <div class="controls__btn" (click)="reduce(product)">-</div>
            <div class="controls__btn" (click)="add(product)">+</div>
          </ion-row>

        </div>

        <div class="absent-product"  *ngIf="reorder">
          <ion-row class="grid__row" *ngFor="let item of cartService.getAbsentCart(), let i = index" >
            <ion-col class="grid__col" size="1">{{i + 1}}</ion-col>
            <ion-col class="grid__col line-through" size="4">{{item[i].product_name}}</ion-col>
            <ion-col class="info-message"><span>{{ 'orders.notAvailable' | translate }}</span></ion-col>
          </ion-row>
        </div>
        <ion-row class="grid__row grid__row_total">
          <ion-col class="grid__col" size="1"></ion-col>
          <ion-col class="grid__col" size="6">{{ 'orders.total' | translate }}</ion-col>
          <ion-col class="grid__col">
            {{cartService.getTotalPrice() | currency:'EUR':'symbol'}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="buttons-wrapper">
      <ion-button class="buttons-wrapper__btn" expand="block"
                  [routerLink]="'/bakery-search/bakery'"
                  routerDirection="back"
                  *ngIf="reorder === false"
                  >{{ 'shoppingCart.addMore' | translate }}</ion-button>
      <ion-button class="buttons-wrapper__btn btn" color="primary" expand="block" (click)="checkout()">
        <div>
          <p>{{ 'shoppingCart.checkout' | translate }}
          ({{cartService.getTotalPrice() | currency:'EUR':'symbol'}})</p>
          <p class="btn__label" *ngIf="lastPaymentMethod">{{ 'shoppingCart.lastPaymentMethod' | translate }}
            {{lastPaymentMethod}}</p>
        </div>
      </ion-button>
      <a class="buttons-wrapper__link" (click)="chooseOtherPayment()" *ngIf="lastPaymentMethod">
        {{ 'shoppingCart.chooseOtherPayment' | translate }}</a>
    </div>
  </div>
</ion-content>
