.container {
  padding: 0 9.33vw;
}

.segment {
  height: 5.91vh;
  margin: 3.69vh 0 ;
  --background: #fff;
  &__btn {
    --indicator-box-shadow: none;
    --border-radius: 0;
    --background-checked: #FEDE00;
    border: 1px solid #FEDE00;
    --indicator-color: #FEDE00;
    font: normal normal 400 20px/24px Montserrat;
    color: #493735;
  }
}
