<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button mode="ios" class="toolbar__button"></ion-menu-button>
    </ion-buttons>
    <ion-router-link slot="end" class="toolbar__link" routerDirection="forward" [routerLink]="'/bakery-search/location-options'">
      {{myAddress || 'Look for a bakery'}}</ion-router-link>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-img src="../../../assets/img/bread.png"></ion-img>
  <div class="container">
    <div class="bakery bakery-search" *ngFor="let bakery of bakeries | async" [routerLink]="'/bakery-search/bakery'">
      <div class="col">
        <ion-img class="bakery__img" [src]="bakery.photo"></ion-img>
        <ion-img class="bakery__stars" src="../../../assets/img/bakery/stars.png"></ion-img>
      </div>
      <div class="col main">
        <h3 class="bakery__title">{{ 'favorites.bakery' | translate }} {{bakery.name}}</h3>
        <p class="bakery__text bakery__text_pb">{{bakery.address}}</p>
        <div class="bakery__icons-row">
          <ion-icon class="icon" src="{{icon}}" *ngFor="let icon of bakery.features"></ion-icon>
        </div>
        <p class="bakery__text"><span>{{ 'favorites.openUntil' | translate }}</span>
<!--          {{bakery.openingHours[0]}}-->
          - {{bakery.distance | number:'1.1-1'}}</p>
      </div>
      <div class="col">
        <ion-icon class="icon-like" (click)="onLike(bakery, $event)" slot="icon-only"
                  [src]="bakery.isFavourite ? iconHeartFilled : iconHeartOutline" tappable></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
