<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button mode="ios" class="toolbar__button"></ion-menu-button>
    </ion-buttons>
    <ion-router-link slot="end" class="toolbar__link" routerDirection="forward" [routerLink]="'/bakery-search/location-options'">
      {{myAddress || 'Look for a bakery'}}</ion-router-link>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-img src="../../../assets/img/bread.png"></ion-img>
  <div class="container">
    <div class="suggest-bakery">
      <p class="suggest-bakery__text">{{ 'bakerySearch.thereIsNoBakery' | translate }}</p>
      <p class="suggest-bakery__text">{{ 'bakerySearch.lookAgainOrSuggest' | translate }}</p>
      <ion-button class="suggest-bakery__btn">{{ 'bakerySearch.suggestBakery' | translate }}</ion-button>
    </div>
    <app-bakery-item class="bakery-item"
                     *ngFor="let bakery of bakeries | async"
                     [bakery]="bakery"
                     (favouriteClicked)="getBakeries()"></app-bakery-item>
  </div>
</ion-content>
