.toolbar {
  padding: 1vh 0;
  --background: #FEDE00;
  &__button {
    padding: 0 0 0 4vw;
    --color: #493735;
    &::part(icon) {
      font-size: 40px;
    }
  }
  &__link {
    padding: 0 8vw 0 0;
    font: normal normal 400 15px/19px Montserrat;
    --color: #493735;
    text-decoration: underline;
  }
}

.container {
  width: 306px;
  margin: 0 auto;
  padding: 4.43vh 0;
}

.bakery-item {
  display: block;
  margin: 0 0 1.23vh;
}
