<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button mode="ios" class="toolbar__button"></ion-menu-button>
    </ion-buttons>
    <ion-router-link slot="end" class="toolbar__link" routerDirection="forward" [routerLink]="'/bakery-search/location-options'">
      Herforder Str. 10, 33602 Bielefeld</ion-router-link>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/img/bread.png"></ion-img>
  <div class="container">
    <div class="bakery bakery-search" *ngFor="let bakery of bakeries" [routerLink]="'/bakery'">
      <div class="col">
        <ion-img class="bakery__img" [src]="bakery.imgSrc"></ion-img>
        <ion-img class="bakery__stars" src="../../../assets/img/stars.png"></ion-img>
      </div>
      <div class="col main">
        <h3 class="bakery__title">{{ 'favorites.bakery' | translate }} {{bakery.name}}</h3>
        <p class="bakery__text bakery__text_pb">{{bakery.address}}</p>
        <div class="bakery__icons-row">
          <ion-icon class="icon" src="{{icon}}" *ngFor="let icon of bakery.icons"></ion-icon>
        </div>
        <p class="bakery__text"><span>{{ 'favorites.openUntil' | translate }}</span> {{bakery.openUntil}} - {{bakery.distance}}</p>
      </div>
      <div class="col">
        <ion-icon class="icon-like" *ngIf="!bakery.isFavorite"
                  (click)="onLike(bakery, $event)" slot="icon-only"
                  src="../../../assets/icons/bakery/heart-outline.svg" tappable></ion-icon>
        <ion-icon class="icon-like" *ngIf="bakery.isFavorite"
                  (click)="onLike(bakery, $event)" slot="icon-only"
                  src="../../../assets/icons/bakery/heart-filled.svg" tappable></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
