<div class="top"></div>
<div class="container">
  <div class="header">
    <div class="header__title">Zahlung per Lastschrift</div>
    <img class="header__img" src="assets/icons/payments/sepa.png">
  </div>
  <form class="form">
    <ion-item class="form__item item">
      <ion-label class="item__label" position="stacked">Vorname</ion-label>
      <ion-input class="item__input"></ion-input>
    </ion-item>
    <ion-item class="form__item item">
      <ion-label class="item__label" position="stacked">Name</ion-label>
      <ion-input class="item__input"></ion-input>
    </ion-item>
    <ion-item class="form__item item">
      <ion-label class="item__label" position="stacked">Strasse & Nr.</ion-label>
      <ion-input class="item__input"></ion-input>
    </ion-item>
    <ion-item class="form__item item">
      <ion-label class="item__label" position="stacked">PLZ und Ort</ion-label>
      <ion-input class="item__input"></ion-input>
    </ion-item>
    <ion-item class="form__item item">
      <ion-label class="item__label" position="stacked">Kontoinhaber</ion-label>
      <ion-input class="item__input"></ion-input>
    </ion-item>
    <ion-item class="form__item item">
      <ion-label class="item__label" position="stacked">IBAN</ion-label>
      <ion-input class="item__input"></ion-input>
    </ion-item>
    <ion-button class="form__btn" expand="block">{{cartServ.getTotalPrice() | currency:'EUR':'symbol'}} PAY</ion-button>
  </form>
</div>
