<ion-header>
  <ion-toolbar mode="ios" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="toolbar__button" mode="md"  defaultHref="account"></ion-back-button>
    </ion-buttons>
    <h1 class="toolbar__title ion-text-left">{{title}}</h1>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div [ngSwitch]="true">
    <div *ngSwitchCase="data === 'first_name' || data === 'email' || data === 'phone'">
      <div class="setting">
        <div class="label-wrapper">
          <h3 class="setting__label" *ngIf="data === 'phone'">{{ 'account.country'  | translate }}</h3>
          <h3 class="setting__label">{{settingLabel}}</h3>
        </div>
        <ion-item class="setting__item setting__item_purple item" lines="none">
          <ion-label class="item__label" *ngIf="data === 'phone'">+49</ion-label>
          <ion-input class="item__input" [(ngModel)]="inputText" [placeholder]="placeholder" [type]="type"></ion-input>
          <ion-button class="btn-check" slot="end" fill="none" (click)="accept()">
            <ion-icon slot="end" src="../../../assets/icons/checkmark.svg"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>
    <div *ngSwitchCase="data === 'country' || data === 'language'">
      <div class="setting">
        <h3 class="setting__label">{{settingLabel}}</h3>
        <ion-list class="setting__item list">
          <ion-radio-group class="radio-group" (ionChange)="onRadioChange($event.target.value)"
                           [value]="radioValue">
            <ion-item class="radio-group__item item" *ngFor="let item of dataForRepeat">
              <ion-label class="item__label">{{item.label || item}}</ion-label>
              <ion-radio mode="ios" [value]="item.code || item"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item lines="none">
            <ion-button class="btn-check" slot="end" fill="none" (click)="acceptRadio()">
              <ion-icon slot="icon-only" src="../../../assets/icons/checkmark.svg"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div *ngSwitchCase="data === 'notifications'">
      <div class="setting">
        <h3 class="setting__label"></h3>
          <ion-item class="setting__item item">
            <ion-label class="item__label">{{ 'account.pushNotifications' | translate }}</ion-label>
            <ion-toggle class="item__toggle" [checked]="account.notifications === true"
                        (ionChange)="onNotificationChange()"></ion-toggle>
          </ion-item>
      </div>
    </div>
    <div *ngSwitchCase="data === 'password'">
      <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
        <div class="setting">
          <h3 class="setting__label setting__label_upper">{{ 'account.currentPass' | translate }}</h3>
          <ion-item class="item" >
            <ion-input class="item__input item__input_upper" formControlName="currentPassword" type="password"
                       [placeholder]="enter + ('account.currentPass' | translate)"></ion-input>
          </ion-item>
        </div>
        <div class="setting">
          <h3 class="setting__label setting__label_upper">{{ 'account.newPass' | translate }}</h3>
          <ion-item class="setting__item item">
            <ion-input class="item__input item__input_upper" formControlName="newPassword" type="password"
                       [placeholder]="enter + ('account.newPass' | translate)"></ion-input>
          </ion-item>
          <ion-item class="setting__item item">
            <ion-input class="item__input item__input_upper" formControlName="newPasswordConfirm" type="password"
                       [placeholder]="('dateChoose.confirm' | translate) + ' ' + ('account.newPass' | translate)"></ion-input>
          </ion-item>
          <ion-item class="setting__item" lines="none">
            <ion-button class="btn-check" type="submit" slot="end" fill="none" [disabled]="changePasswordForm.invalid">
              <ion-icon slot="icon-only" src="../../../assets/icons/checkmark.svg"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </form>
    </div>
    <div *ngSwitchCase="data === 'payments'">
      <div class="setting">
        <h3 class="setting__label">{{ 'account.prefPaymentMeth' | translate }}</h3>
        <ion-item class="item">
          <img class="item__img" width="79px" src="../../../../../assets/icons/payments/paypal.png">
          <ion-toggle slot="end" class="item__toggle"></ion-toggle>
        </ion-item>
      </div>
      <div class="setting">
        <h3 class="setting__label">{{ 'account.changePaymentMeth' | translate }}</h3>
        <ion-item class="item">
          <ion-img class="item__img" src="../../../../assets/icons/payments/apple-pay-google.png"></ion-img>
          <ion-toggle slot="end" class="item__toggle"></ion-toggle>
        </ion-item>
        <ion-item class="item">
          <img class="item__img" width="39px" src="../../../../../assets/icons/payments/sepa.png">
          <ion-toggle slot="end" class="item__toggle"></ion-toggle>
        </ion-item>
        <ion-item class="item">
          <ion-img class="item__img" src="../../../../assets/icons/payments/visa.svg"></ion-img>
          <ion-img class="item__img" src="../../../../assets/icons/payments/maestro.svg"></ion-img>
          <ion-img class="item__img" src="../../../../assets/icons/payments/mastercard.svg"></ion-img>
          <ion-toggle slot="end" class="item__toggle"></ion-toggle>
        </ion-item>
        <ion-item class="setting__item" lines="none">
          <ion-button class="btn-check" slot="end" fill="none">
            <ion-icon slot="icon-only" src="../../../assets/icons/checkmark.svg"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>
    <div *ngSwitchCase="data === 'privacy'">
      <div class="setting">
        <div class="top-grey"></div>
        <ion-item class="item" detail="false" button (click)="open('privacy')">
          <ion-label class="item__label">{{ 'account.dataPrivacy' | translate}}</ion-label>
        </ion-item>
        <ion-item class="item" detail="false" button (click)="open('imprint')">
          <ion-label class="item__label">{{ 'account.imprint' | translate}}</ion-label>
        </ion-item>
        <ion-item class="item setting__item_pd" detail="false" button>
          <ion-label class="item__label item__label_red" (click)="deleteAccount()">{{ 'account.deleteAcc' | translate}}</ion-label>
        </ion-item>
      </div>
    </div>
  </div>

</ion-content>
