<ion-content>
  <div class="header">
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-back-button class="toolbar__btn" mode="md" defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img class="toolbar__img" src="../../../../assets/img/bakery/bakery-logo.jpg">
  </div>
  <div class="info">
    <div class="container">
      <div class="row">
        <div>
          <h3 class="info__title">{{ 'general.bakery' | translate }} Wiebusch</h3>
          <p class="info__text">Bielefelder Str. 21, Knetterheide</p>
        </div>
        <ion-icon class="info__icon" src="../../../../assets/icons/bakery/info.svg"></ion-icon>
      </div>
      <div class="info__rate rate">
        <img class="rate__img" src="../../../../assets/img/bakery/stars4.jpg">
        <span class="info__text">4,1 /5 (15)</span>
      </div>
      <p class="info__description description">
        This bakery is known for its delicious bread, rolls and cake. Especially tasty are the ...
        <span class="description__continue" tappable>Continue</span>
      </p>
    </div>
  </div>
  <div class="sections">
    <div class="sections__item"*ngFor="let section of sections, let i = index"
         (click)="onSectionSelect(i)" [class.sections__item_selected]="selected[i]" tappable>{{section}}</div>
  </div>
  <div class="product-list">
    <div class="container">
      <div class="product" *ngFor="let product of productsList" (click)="presentProductDetailsModal()">
        <div class="col-left">
          <ion-img class="product__img" [src]="product.img"></ion-img>
          <ion-img class="product__img-corner" *ngIf="product.imgCorner" [src]="product.imgCorner"></ion-img>
        </div>
        <div class="col-center">
          <p class="product__name">{{product.name}}</p>
          <p class="product__details-title">Details</p>
          <p class="product__details-text">{{product.details}}</p>
        </div>
        <div class="col">
          <p class="product__price">{{product.price}}</p>
          <div class="product__count count">
            <div class="count__btn" (click)="removeProductFromCart(product, $event)" tappable>-</div>
            <div class="count__value">{{getProductCount(product.id)}}</div>
            <div class="count__btn" (click)="addProductToCart(product, $event)" tappable>+</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart" tappable>
<!--  <div class="cart" tappable *ngIf="cartService.cart.length > 0">-->
    <div class="icon-wrapper">
      <ion-icon class="cart__icon" src="../../../../assets/icons/bakery/shopping-bag.svg"></ion-icon>
      <ion-badge ></ion-badge>
    </div>
    <p class="cart__text">Shopping cart (333,00€)</p>
  </div>
</ion-content>
