<ion-header></ion-header>
<ion-content>
  <div class="header">
    <ion-toolbar class="toolbar" *ngIf="bakeryDetails?.photo" [style.--background]="'url(' + bakeryDetails?.photo +') center/cover'">
      <ion-buttons slot="start">
        <ion-back-button class="toolbar__btn" mode="md" defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img class="toolbar__img" *ngIf="bakeryDetails?.bakery_logo" [src]="bakeryDetails.bakery_logo">
  </div>
  <div class="info">
    <div class="info-main">
      <div class="container">
        <div class="row">
          <div>
            <h3 class="info__title">{{bakeryDetails?.name}}</h3>
            <p class="info__text">{{bakeryAddress}}</p>
          </div>
          <ion-icon class="info__icon" src="../../../../assets/icons/bakery/info.svg" (click)="onInfo()"
                    tappable></ion-icon>
        </div>
        <div class="info__rate rate">
<!--          <img class="rate__img" src="../../../../assets/img/bakery/stars4.jpg">-->
<!--          <span class="info__text">4,1 /5 (15)</span>-->
        </div>
        <p class="info__description description">
          {{bakeryInfo}}
          <span class="description__continue" *ngIf="bakeryInfoTrim !== bakeryInfoFull && !isBakeryInfoFull"
                (click)="toggleBakeryInfo()" tappable>{{ 'bakery.continue' | translate }}</span>
          <span class="description__continue" *ngIf="bakeryInfoTrim !== bakeryInfoFull && isBakeryInfoFull"
                (click)="toggleBakeryInfo()" tappable>{{ 'bakery.turn' | translate }}</span>
        </p>
      </div>
    </div>
    <div class="info-details" *ngIf="isInfoFull">
      <div class="container">
        <div class="info-details__icons-row">
          <img class="info-details__icons-row-icon" *ngFor="let feature of bakeryDetails?.features"
                    [src]="bakeryServ.getIcon(feature)">
        </div>
        <div class="open-hours">
          <div class="open-hours__row">
            <div>
              <ion-icon class="open-hours__icon" src="../../../../assets/icons/bakery/calendar&clock.svg"></ion-icon>
            </div>
            <div class="open-hours__list list">
              <p class="list__title">{{ 'bakery.openHour' | translate }} <span *ngIf="allWeek">24/7</span></p>
              <ng-container *ngIf="!allWeek">
                <div class="list__item" *ngFor="let item of openingHours">
                  <span class="list__item-day">{{ getShortDayName(item[0]) }}</span>
                  <span *ngIf="item[1].length > 0; else dash">{{item[1][0].start}}
                    - {{item[1][item[1].length - 1].end}}</span>
                </div>
              </ng-container>
            </div>
            <div class="open-hours__list list" *ngIf="!allWeek">
              <p class="list__title">{{ 'bakery.lunchBreak' | translate }}:</p>
              <div class="list__item" *ngFor="let item of openingHours">
                <span *ngIf="item[1].length > 1; else dash">{{item[1][0].end}} - {{item[1][item[1].length - 1].start}}</span>
              </div>
            </div>
            <ng-template #dash>-</ng-template>
          </div>

        </div>
      </div>
      <div class="pick-up-place">
        <p class="pick-up-place__title">{{ 'bakery.pickUpHere' | translate }}</p>
        <p class="pick-up-place__text">{{bakeryAddress}}</p>
      </div>
      <div class="reminder">
        <p class="reminder__title">{{ 'bakery.reminderTitle' | translate }}</p>
        <p class="reminder__txt">{{ 'bakery.reminderTxt' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="products" *ngIf="!isInfoFull">
    <div class="sections">
      <div class="sections__item" *ngFor="let category of categories, let i = index"
           (click)="onCategorySelect(i)"
           [class.sections__item_selected]="i === selectedCategoryIndex" tappable>{{category.name}}</div>
    </div>
    <div class="products-container">
      <div class="date" *ngIf="!guest">
        <p class="date__text">{{ 'bakery.collection' | translate }}:
          {{ date | date:'EEEE, dd.MM.yy,  HH:mm': '' : dateLocale}}
          {{ 'orders.hrs' | translate }}</p>
        <ion-button class="date__btn btn" size="small" fill="clear" (click)="presentPickUpDateModal(true)">
          <ion-icon class="btn__icon" slot="icon-only"
                    src="../../../../../assets/icons/shopping-cart/pen.svg"></ion-icon>
        </ion-button>
      </div>
      <app-product-item *ngFor="let product of productsList" [date]="date" [product]="product"></app-product-item>
    </div>
  </div>
  <div class="cart" *ngIf="cartService.getCart().length > 0" tappable (click)="openShoppingCart()">
    <div class="cart__icon-wrapper">
      <ion-icon class="cart__icon" src="../../../../assets/icons/shopping-cart/shopping-bag.svg"></ion-icon>
      <ion-badge class="cart__icon-badge">{{cartService.getTotalCount()}}</ion-badge>
    </div>
    <p class="cart__text">
      {{ 'shoppingCart.header' | translate }} ({{cartService.getTotalPrice() | currency:'EUR':'symbol'}})</p>
  </div>
</ion-content>
