.toolbar {
  $logoSize: 46vw;
  height: 18.47vh;
  --background: url('../../../../assets/img/croissants.jpg') center/cover;
  &__btn {
    --color: #fff;
    --icon-font-size: 35px;
  }
  &__img {
    width: $logoSize;
    height: $logoSize;
    border-radius: 50%;
    position: absolute;
    bottom: -80%;
    left: calc((100% - #{$logoSize}) / 2);
    z-index: 10;
  }
}

.container {
  padding: 5px 8.27vw;
}

.info {
  padding: 13.5vh 0 2.83vh;
  font: normal normal 400 12px/15px Montserrat;
  color: #493735;
  .row {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font: normal normal 400 20px/24px Montserrat;
  }
  &__text {}
  &__icon {
    --color: #000;
    font-size: 24px;
  }

  &__rate {
    padding: 1.97vh 0;
  }
  .rate {
    display: flex;
    align-items: center;
    &__img {
      width: 81px;
      margin: 0 8px 0 0;
    }
  }

  &__description {
    padding: 0 6vw 0 0;
  }
  .description {
    &__continue {
      padding: 0 0 0 3px;
      font: normal normal 400 10px/13px Montserrat;
      color: #FEDE00;
    }
  }
}

.sections {
  width: 100%;
  height: 45px;
  padding: 0 0 0 8.27vw;
  margin: 0 0 5.42vh;
  display: flex;
  overflow-x: scroll;
  background: #F6F6F6;
  &__item {
    display: flex;
    align-items: center;
    padding: 0 5.87vw;
    font: normal normal 400 15px/19px Montserrat;
    color: #493735;
    &_selected {
      background: #FEDE00;
      border: 1px solid #FEDE00;
      border-radius: 6.13vw;
      font: normal normal 600 15px/19px Montserrat;
      color: #FFFFFF;
    }
  }
}

.product-list{
  @media (max-width: 320px) {
    .container{
      padding: 0 3px;
    }
  }
}

.product {
  width: 313px;
  height: 77px;
  margin: 0 0 1.11vh;
  display: flex;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  font: normal normal 400 12px/15px Montserrat;
  color: #493735;
  .col-left {
    position: relative;
  }
  .col-center {
    padding: 4px 0;
    flex: 1 0 auto;
  }

  &__img {
    width: 76px;
    height: 52px;
    margin: 4px 20px 0 10px;
    object-fit: cover;
  }

  &__img-corner {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__details-title {
    padding: 3px 0 19px;
    font: normal normal 400 10px/13px Montserrat;
  }
  &__details-text {
    font: normal normal 400 10px/13px Montserrat;
  }
  &__price {
    padding: 8px 6px 23px;
    text-align: right;
  }
  &__count {
    padding: 0 6px 0;
  }

  .count {
    width: 78px;
    display: flex;
    text-align: center;
    &__btn{
      width: 22px;
      border: 1px solid #CBCBCB;
    }
    &__value {
      width: 42px;
      height: 18px;
      border-top: 1px solid #CBCBCB;
      border-bottom: 1px solid #CBCBCB;
    }
  }
}
