.img {
  height: 139px;
  object-fit: cover;
  opacity: 40%;
  @media (max-device-height: 667px) {
    height: 100px;
  }
}

.form {
  padding: 42px 24px;
  @media (max-device-height: 568px) {
    padding: 21px 12px;
  }
  .form-top {
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font: normal normal 500 25px/30px Montserrat;
    color: #493735;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #707070;
    @media (max-device-height: 568px) {
      font: normal normal 500 20px/25px Montserrat;
    }

    &:last-of-type {
      padding: 0 0 33px;
    }
  }

  &__item {
    &_select {
      width: 80%;
      margin: 0 auto 6vh;
      --padding-start: 0;
      --inner-padding-start: 18px;
      @media (max-device-height: 568px) {
        margin: 0 auto 5vh;
      }
    }

    &_check {
      margin: 0 0 4vh;
      @media (max-device-height: 568px) {
        margin: 0 0 3vh;
      }
    }
  }
  .item {
    --padding-start: 0;

    &__select {
      width: 100%;
      font: normal normal 400 20px/24px Montserrat;
      --placeholder-color: #493735;
      --placeholder-opacity: 1;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #707070;
      &::part(icon) {
        color: #493735;
        opacity: 1;
      }
    }
    &__checkbox {
      margin-right: 6.93vw;
      --background-checked: #707070;
      --border-color-checked: #707070;
    }
    &__label {
      font: normal normal 300 16px/19px Montserrat;
      color: #493735;
    }
  }

  &__button {
    height: 7.39vh;
    padding: 0 0 0 0.63vw;
    margin: 10.34vh 0 0;
    --background: #d9d9d9;
    --border-radius: 36px;
    text-transform: uppercase;
    font: normal normal 500 16px/19px Montserrat;
    @media (max-device-height: 667px) {
      margin: 5vh 0 0 0;
    }
  }
}

.opacity {
  opacity: 0;
}

:host ::ng-deep a {
  text-decoration: underline;
}

.ion-activatable {
  ion-label {
    a {
      position: relative;
      z-index: 10;
    }
  }
}
