<ion-header></ion-header>
<ion-content>
  <ion-img src="../../../../assets/img/bread.png" class="img"></ion-img>
  <form class="form" [formGroup]="myForm" (ngSubmit)="continue()">
    <div class="form-top">
      <h1 class="form__title">{{ 'googleLogin.welcome' | translate }}</h1>
      <h1 class="form__title">{{ 'googleLogin.youAreIn' | translate }}</h1>
      <ion-item class="form__item form__item_select item">
        <ion-select class="item__select" value="Germany">
          <ion-select-option value="Germany">{{ 'googleLogin.germany' | translate }}</ion-select-option>
<!--          <ion-select-option value="Austria">{{'g'}}</ion-select-option>-->
        </ion-select>
      </ion-item>
    </div>
      <ion-item class="form__item form__item_check item ion-align-items-start" [class.opacity]="!android" lines="none">
        <ion-checkbox class="item__checkbox" formControlName="checkbox1" mode="md"></ion-checkbox>
        <ion-label class="item__label ion-text-wrap">{{ 'googleLogin.googleDsgvo' | translate }}</ion-label>
      </ion-item>
    <ion-item class="form__item item ion-align-items-start" lines="none" (click)="toggleCheckbox()">
      <ion-checkbox class="item__checkbox" formControlName="checkbox2" [checked]="checkbox"></ion-checkbox>
      <ion-label class="item__label ion-text-wrap">
        {{ 'googleLogin.iConfirmThe' | translate }}
        <a (click)="open('legal', $event)">{{ 'googleLogin.termsOfUse' | translate }}</a>
        {{ 'googleLogin.andThe' | translate }}
        <a (click)="open('privacy', $event)">{{ 'googleLogin.privacyPolicy' | translate }}</a>
      </ion-label>
    </ion-item>
    <ion-button class="form__button" type="submit" expand="block" size="large"
                [disabled]="myForm.invalid">
      {{continueBtnLabel}}</ion-button>
  </form>
</ion-content>
