<app-account-header [title]="'Your Phone Number'"></app-account-header>

<ion-content>
  <div class="setting">
    <div class="label-wrapper">
      <h3 class="setting__label">Country</h3>
      <h3 class="setting__label">Phone number</h3>
    </div>
    <ion-item class="setting__item item" lines="none">
      <ion-label class="item__label">+49</ion-label>
      <ion-input class="item__input" placeholder="Enter your number"></ion-input>
      <ion-button fill="none">
        <ion-icon  slot="icon-only" src="../../../assets/icons/checkmark.svg"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
</ion-content>
