.setting {
  background: #F5F5F5;
  .label-wrapper {
    display: flex;
  }
  &__label {
    padding: 5.5vh 0 1vh 4.3vw;
    font: normal normal 400 15px/19px Montserrat;
    color: #493735;
  }
  &__item {
    padding: 0 0 11.2vh;
  }

  .item {
    font: normal normal 300 12px/15px Montserrat;
    color: #FF68B4;
    --padding-start: 0;
    &__label {
      padding: 0 30px 0 15px;
    }
    &__input {
      --padding-start: 20px;
      --placeholder-font-style: italic;
      --placeholder-color: #493735;
      --placeholder-opacity: 1;
    }
  }
}

