<ion-header></ion-header>
<ion-content (click)="onContentTap()">
  <div [class.opacity]="otherOptOn">
    <h1 class="title">{{ 'start.header' | translate }}</h1>
    <div class="img-container">
      <ion-img class="img-container__img" src="../../../assets/img/girl.png"></ion-img>
    </div>
  </div>
  <div class="controls">
    <ion-button class="controls__btn controls__btn_g btn"
                *ngIf="android" (click)="loginWith('google')"
                expand="block" size="large" fill="outline" [disabled]="otherOptOn">
      <ion-icon class="btn__icon" slot="start" src="../../../assets/icons/google.svg"></ion-icon>
      {{ 'start.googleBtn' | translate }}
    </ion-button>
    <!--<ion-button class="controls__btn controls__btn_g btn"
                *ngIf="!android" (click)="loginWith('ios')"
                expand="block" size="large" fill="outline" [disabled]="otherOptOn">
      <ion-icon class="btn__icon" slot="start" src="../../../assets/icons/apple.svg"></ion-icon>
      {{ 'start.appleBtn' | translate }}
    </ion-button>-->
    <ion-button class="controls__btn controls__btn_fb btn" *ngIf="!otherOptOn" (click)="loginWith('facebook')" expand="block" size="large">
      <ion-icon class="btn__icon" slot="start" src="../../../assets/icons/facebook.svg"></ion-icon>
      {{ 'start.fbBtn' | translate }}
    </ion-button>
    <div *ngIf="otherOptOn">
      <ion-button class="controls__btn controls__btn_mail btn"
                   (click)="loginWith('email', true)"  expand="block"
                  size="large">
        <ion-icon class="btn__icon" slot="start" src="../../../assets/icons/mail.svg"></ion-icon>
        {{ 'start.emailBtnLogin' | translate }}
      </ion-button>
      <ion-button class="controls__btn controls__btn_mail btn"
                  (click)="loginWith('email')" [routerLink]="'/email-registration'" expand="block"
                  size="large">
        <ion-icon class="btn__icon" slot="start" src="../../../assets/icons/mail.svg"></ion-icon>
        {{ 'start.emailBtn' | translate }}
      </ion-button>
    </div>
    <div class="hide-block" *ngIf="!otherOptOn">
      <ion-button class="controls__link" fill="clear" size="small" (click)="onOtherOpt($event)">{{ 'start.otherOpt' | translate }}</ion-button>
<!--      <ion-button class="controls__link" fill="clear" size="small">{{ 'start.guest' | translate }}</ion-button>-->
    </div>
  </div>
</ion-content>
