/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/fonts";

* {
  letter-spacing: 0;
}
h1, h2, h3, p {
  margin: 0;
}
a {
  color: inherit;
}

ion-header {
  margin-top: var(--ion-safe-area-top);
}

.pick-up-date-modal {
  --width: 100%;
  --height: 100%;
  --border-color: #9AA8B5;
  --border-radius: 5px;
}

.product-details-modal {
  --width: 90vw;
  --height: 80vh;
  --border-color: #CBCBCB;
}

.payment-methods-modal .modal-wrapper, .payment-methods-modal .modal-shadow,{
  height: 60vh;
  bottom: 0;
  position: absolute;
}

.google-pay-modal .modal-wrapper, .google-pay-modal .modal-shadow {
  height: 70vh;
  bottom: 0;
  position: absolute;
}

.login-first-modal .modal-wrapper, .login-first-modal .modal-shadow {
  height: 30vh;
  bottom: 0;
  position: absolute;
}

.login-first-modal {
  --border-style: solid;
  --border-width: 1px 0 0 0;
  --border-color: #707070;
  --border-radius: 12px 12px 0 0;
}

.loading-bag.loading-translucent {
  .loading-wrapper.ion-overlay-wrapper {
    background: transparent;
  }
}
.sliced-modal {
  --backdrop-opacity: 0.12!important;
  .modal-wrapper {
    top: 34vh;
    height: 20vh;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    min-height: 170px;
    min-width: 317px;
    max-width: 600px;
    border: 1px solid lightgrey;
    border-radius: 1vh;
  }
}

