<div class="container">
    <ion-button class="close-btn" size="small" fill="none" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  <h2 class="title-main">{{ 'dateChoose.title' | translate }}</h2>
  <span>Today date: {{currentDay | date:'MMMM d, y' }}</span>
  <h2 class="title-date">{{ 'dateChoose.сollectionDate' | translate }}</h2>
  <div class="row">
    <ion-button class="btn btn-outline" fill="outline"
                [class.btn-outline_active]="activeBtn === 'today'"
                (click)="onToday()">{{ 'dateChoose.today' | translate }}</ion-button>
    <ion-button class="btn btn-outline" fill="outline"
                [class.btn-outline_active]="activeBtn === 'tomorrow'"
                (click)="onTomorrow()">{{ 'dateChoose.tomorrow' | translate }}</ion-button>
  </div>
  <h2 class="label">{{ 'dateChoose.orChooseDate' | translate }}</h2>
  <ion-icon class="calendar-icon" src="../../../assets/icons/bakery/calendar.svg"
            (click)="dateSelector.open()" tappable></ion-icon>
  <ion-datetime class="date"
                #dateSelector
                displayFormat="DD MMMM YYYY"
                picker-format="DD MMMM YYYY"
                [min]="datePickerMin"
                [max]="datePickerMax"
                (ionChange)="onCalendarChange($event.target.value)"
                [cancelText]="cancel" [doneText]="done">

  </ion-datetime>
  <h2 class="title-date">{{ 'dateChoose.chooseTime' | translate }}</h2>
  <ion-item class="time-item ion-align-items-center" lines="none">
    <ion-datetime class="ion-datetime"  (ionChange)="onTimeChange($event)"
                  displayFormat="HH : mm" minuteValues="0,15,30,45" [attr.value]="time ? time : ''"
                  [disabled]="!date" [cancelText]="cancel" [doneText]="done"></ion-datetime>
  </ion-item>
  <div *ngIf="repeatOrder; else main">
    <ion-button class="btn btn-filled" *ngIf="!isVerify" expand="block" (click)="redirectToPay()" [disabled]="!date || !time">
      {{ 'dateChoose.confirm' | translate }}</ion-button>

  </div>
  <ng-template #main>
    <ion-button class="btn btn-filled" *ngIf="!isVerify" expand="block" (click)="onConfirm()" [disabled]="!date || !time">
      {{ 'dateChoose.confirm' | translate }}</ion-button>
    <ion-button class="btn btn-filled verify" *ngIf="isVerify" expand="block" (click)="onConfirm()"
                [disabled]="!date || !time">{{ 'dateChoose.verify' | translate }}</ion-button>
  </ng-template>

</div>
