:host {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.container {
  width: 360px;
  margin: var(--ion-safe-area-top) auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #493735;
  span {
    font-weight: 500;
    margin: 1vh 0;
  }

  .btn-wrapper {
    position: relative;
  }

  .close-btn {
    margin: 2vh -5vw 0;
    align-self: flex-end;
  }

  .title-main {
    padding: 4.5vh 0 5.4vh;
    font: normal normal 600 7vw/8vw Montserrat;
    letter-spacing: 0.45px;
    @media (max-device-height: 600px) {
      padding: 0 0 3.4vh;
    }
  }
  .title-date {
    padding: 0 0 1.91vh;
    font: normal normal 600 20px/24px Montserrat;
    &:last-of-type {
      padding: 4.93vh 0 1.91vh;
    }
  }
  .label {
    padding: 0 0 1.23vh;
    font: normal normal 400 18px/22px Montserrat;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 18.5px;
  }


  .btn {
    height: 56px;
    display: block;
    --border-radius: 5px;
    text-transform: capitalize;
  }
  .btn-outline {
    margin: 0 6px 0 0;
    --border-color: #9AA8B5;
    font: normal normal 400 20px/24px Montserrat;
    color: #493735;
    &_active {
      --background: #0E8DF1;
      color: #fff;
    }
  }
  .calendar-icon {
    font-size: 27px;
  }

  .time-item {
    width: 100%;
    padding: 0 30px;
    margin:  0 0 7.39vh;
    --background: #0E8DF1;
    color: #fff;
    --border-color: #9AA8B5;
    --border-width: 1px;
    --border-radius: 5px;
    font: normal normal 400 20px/24px Montserrat;
    --inner-padding-bottom: 6px;
    --inner-padding-top: 6px;
    --inner-padding-end: 0;
    --padding-start: 0;
    @media (max-device-height: 500px) {
      margin:  0 0 4vh;
    }
    .ion-datetime {
      width: 100%;
      padding-right: 0;
      text-align: center;
    }
  }

  .btn-filled {
    width: 200px;
    --border-radius: 3.2vw;
    --background: #FEDE00;
    font: normal normal 600 20px/24px Montserrat;
  }
  .verify {
    --background: #3CCA88;
    --border-radius: 5px;
    text-transform: uppercase;
  }

  .date {
    display: none;
  }

}
