<div class="container">
  <ion-button class="close-btn" size="small" fill="none" (click)="closeModal()">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>
  <h2 class="title">{{ 'dateChoose.title' | translate }}</h2>
  <h2 class="title">{{ 'dateChoose.day' | translate }}</h2>
  <div class="row">
<!--    TODO: make bg change on select-->
    <ion-button class="btn btn-outline" fill="outline" (click)="onToday()">{{ 'dateChoose.today' | translate }}</ion-button>
    <ion-button class="btn btn-outline" fill="outline" (click)="onTomorrow()">{{ 'dateChoose.tomorrow' | translate }}</ion-button>
    <ion-icon class="calendar-icon" src="../../../assets/icons/bakery/calendar.svg" tappable (click)="dateSelector.open()"></ion-icon>
    <ion-datetime class="date" #dateSelector displayFormat="DD MMMM YYYY" [min]="datePickerMin" [max]="datePickerMax"
                  (ionChange)="onCalendarChange($event.target.value)"></ion-datetime>
<!--    <ion-datetime class="date" #dateSelector displayFormat="DD MMMM YYYY" [min]="datePickerMin" [(ngModel)]="date"></ion-datetime>-->
  </div>
  <h2 class="title title-time">{{ 'dateChoose.time' | translate }}</h2>
  <ion-item class="time-item ion-align-items-center" lines="none">
    <ion-datetime class="ion-datetime" [min]="timePickerMin" (ionChange)="onTimeChange($event)"
                  displayFormat="HH:mm" minuteValues="0,15,30,45" [attr.value]="time ? time : ''"
                  [disabled]="!date"></ion-datetime>
  </ion-item>
  <ion-button class="btn btn-filled" *ngIf="!isVerify" expand="block" (click)="onConfirm()" [disabled]="!date || !time">
    {{ 'dateChoose.confirm' | translate }}</ion-button>
  <ion-button class="btn btn-filled verify" *ngIf="isVerify" expand="block" (click)="onConfirm()"
              [disabled]="!date || !time">{{ 'dateChoose.verify' | translate }}</ion-button>
</div>
