<ion-content>
  <h1 class="title">simply. pre-order.</h1>
  <div class="img-container">
    <ion-img class="img-container__img" src="../../../assets/img/girl.png"></ion-img>
  </div>
  <div class="content">
    <ion-grid class="grid">
      <ion-row class="grid__row">
        <ion-col class="grid__col">
          <p class="text grid__title">Create an account for Brötchen.app withyour Apple ID "name@iclooud.com"</p>
        </ion-col>
      </ion-row>
      <ion-row class="grid__row">
        <ion-col class="grid__col" size="3">
          <p class="text">Name</p>
        </ion-col>
        <ion-col class="grid__col">
          <p class="text">Name, Surname</p>
        </ion-col>
      </ion-row>
      <ion-row class="grid__row">
        <ion-col class="grid__col" size="3">
          <p class="text">E-Mail</p>
        </ion-col>
        <ion-col class="grid__col">
          <p class="text">Name@icloud.com</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="btn" expand="block">continue</ion-button>
  </div>
</ion-content>
