<app-menu-header [title]="'paymentMethods.header' | translate"></app-menu-header>

<ion-content>
  <div class="container">
    <h2 class="title">{{ 'paymentMethods.title' | translate }}</h2>
    <div class="row">
      <img width="79px" src="../../../../assets/icons/payments/paypal.png">
      <img src="../../../../assets/icons/payments/apple-pay-google@3x.png">
      <img width="48px" src="../../../../assets/icons/payments/mastercard.svg">
    </div>
    <div class="row">
      <img width="89px" src="../../../../assets/icons/payments/maestro.svg">
      <img width="75px" src="../../../../assets/icons/payments/visa.svg">
    </div>
    <div class="row">
      <img width="75px" src="../../../../assets/icons/payments/sepa.png">
    </div>
  </div>
</ion-content>
