.container {
  padding: 4.19vh 7.73vw;
}

.title {
  text-align: center;
  font: normal normal 400 5.33vw/2.96vh Montserrat;
  color: #493735;
}

.icons-block {
  padding: 2.96vh 0 9vh;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    font-size: 24.8vw;
  }
}

